@import "tailwindcss";

@keyframes gentle-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15%);
  }
}

.animate-gentle-bounce {
  animation: gentle-bounce 1s ease-in-out infinite;
}
